<!DOCTYPE html>
<html>
<head>
    <title>سامانه انجام کار</title>
</head>
<body>

<h1 style="text-align: center">توضیحات کار</h1>
<br>

<div style="text-align: center">

</div>

</body>

<footer>
    <div style="text-align: center; direction: rtl">
        <p>{{ work.title }}</p>
        <hr>
        <p>{{ work.estimated_time }} روز</p>
        <p>توضیحات: {{ work.detail }}</p>
        <p>برای مشتری: {{ work.customer.user.first_name }}</p>

        <p>
            <a href="{{ request.META.HTTP_REFERER }}"><u>برگشت</u></a>
            <a href="#"><u>درباره ما</u></a>
            <a href="#"><u>قوانین</u></a>
        </p>
    </div>
</footer>
</html>
