{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/main.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-md-9">
            <h1> سامانه‌ی انجام کار</h1>
            <div>
                <div class="col-sm-12">
                    <h3 style="display: inline-block">{{ task.title }}</h3>

                    <form action="{% url 'tasks:reserve' task.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-default" {% if not user.is_authenticated or task.reserved %}
                                disabled {% endif %}>انجام میدم!
                        </button>
                    </form>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li> {{ message }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <hr/>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {% if task.get_date_created != "0" %}
                        ساخته شده در {{ task.get_date_created }} روز پیش
                    {% else %}
                        ساخته شده در امروز
                    {% endif %}
                </div>
                <div class="col-sm-3">{{ task.price }} تومان</div>
                <div class="col-sm-3">{{ task.estimated_time }} روز</div>
                <div class="col-sm-12">
                    <br/>
                    توضیحات:
                    <br/>
                    {{ task.details }}
                </div>
            </div>
        </div>

        {% if user_role %}
            <div class="col-md-3">
                <h5> شما با نام کاربری {{ user.username }} به عنوان {{ user_role }} وارد سیستم شده‌اید.</h5>
                <a class="btn btn-default btn-block" href="{% url 'tasks:index' %}">صفحه‌ی اصلی</a>
                <form action="{% url 'index:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-default btn-block">خروج</button>
                </form>
            </div>
        {% endif %}
    </div>
    <footer>
        <hr/>
        <span>درباه‌ی ما</span>
        <span>قوانین</span>
    </footer>
</div>
</body>
</html>
